<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>lunch</key>
		<array>
			<string>подбрано студено нетлъсто месо (по избор – пилешко, пуешко, език, крехко говеждо)</string>
			<string>домати, нарязани, печени или задушени</string>
			<string>кафе, чай, газирана вода</string>
		</array>
		<key>dinner</key>
		<array>
			<string>риба или раци, скариди</string>
			<string>комбинирана салата (от всякакви зеленчуци по желание)</string>
			<string>1 филия пълнозърнест или протеинов хляб, препечена</string>
			<string>грейпфурт или плодове според сезона</string>
		</array>
		<key>img</key>
		<string>fish.jpg</string>
	</dict>
	<key>1</key>
	<dict>
		<key>lunch</key>
		<array>
			<string>плодова салата, всякаква комбинация от плодове, колкото искате</string>
		</array>
		<key>dinner</key>
		<array>
			<string>голямо кюфте от говеждо месо</string>
			<string>домати, маруля целина, маслини, брюкселско зеле, краставица</string>
		</array>
		<key>img</key>
		<string>fruit_salad.jpg</string>
	</dict>
	<key>2</key>
	<dict>
		<key>lunch</key>
		<array>
			<string>салата от риба тон или сьомга (с отцедена мазнина) с лимон или оцет</string>
			<string>грейпфурт, пъпеш или сезонен плод</string>
			<string>кафе или чай</string>
		</array>
		<key>dinner</key>
		<array>
			<string>печено агнешко, нарязано от филийки с отстранена тлъстина</string>
			<string>салата от маруля, домати, краставица, целина</string>
		</array>
		<key>img</key>
		<string>tuna_salad.jpg</string>
	</dict>
	<key>3</key>
	<dict>
		<key>lunch</key>
		<array>
			<string>2 яйца приготвени по желание, но без мазнина</string>
			<string>нискомаслено прясно сирене/извара</string>
			<string>тиквички или зелен фасул или домати, нарязани и задушени</string>
			<string>1 филия протеинов или пълнозърнест хляб, препечена</string>
			<string>чай или кафе</string>
		</array>
		<key>dinner</key>
		<array>
			<string>пилешко, печено на грил, скара или фурна (с отстранена кожа или мазнина)</string>
			<string>голяма порция спанак, зелени чушки или зелен фасул</string>
		</array>
		<key>img</key>
		<string>eggs.jpg</string>
	</dict>
	<key>4</key>
	<dict>
		<key>lunch</key>
		<array>
			<string>сирене (нискомаслено), различни видове, нарязано на филийки</string>
			<string>спанак</string>
			<string>1 филия препечен протеинов или пълнозърнест хляб</string>
		</array>
		<key>dinner</key>
		<array>
			<string>риба или раци, скариди</string>
			<string>комбинирана салата от всякакви зеленчуци по желание</string>
			<string>1 филия препечен протеинов или пълнозърнест хляб</string>
		</array>
		<key>img</key>
		<string>fish.jpg</string>
	</dict>
	<key>5</key>
	<dict>
		<key>lunch</key>
		<array>
			<string>плодова салата</string>
			<string>кафе или чай</string>
		</array>
		<key>dinner</key>
		<array>
			<string>печено пуешко или пилешко</string>
			<string>салата от домати и маруля</string>
			<string>грейпфурт или сезонен плод</string>
		</array>
		<key>img</key>
		<string>tomatoes_lettuce.jpg</string>
	</dict>
	<key>6</key>
	<dict>
		<key>lunch</key>
		<array>
			<string>студено или топло пуешко или пилешко месо</string>
			<string>домати, моркови, варено зеле, броколи или карфиол</string>
			<string>грейпфурт или сезонен плод</string>
			<string>кафе или чай</string>
		</array>
		<key>dinner</key>
		<array>
			<string>голяма телешка пържола (с отстранени видими мазнини преди хранене)</string>
			<string>салата от маруля, краставица, целина, домати, брюкселско зеле</string>
		</array>
		<key>img</key>
		<string>beef.jpg</string>
	</dict>
</dict>
</plist>
