<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>0</key>
        <dict>
            <key>lunch</key>
            <string>подбрано студено нетлъсто месо (по избор – пилешко, пуешко, език, крехко говеждо);
                домати, нарязани, печени или задушени;
                кафе, чай, газирана вода;</string>
            <key>dinner</key>
            <string>риба или раци, скариди;
                комбинирана салата ( от всякакви зеленчуци по желание);
                1 филия пълнозърнест или протеинов хляб, препечена;
                грейпфурт или плодове според сезона;</string>
            <key>img</key>
            <string>fish.jpg</string>
        </dict>
        <key>1</key>
        <dict>
            <key>lunch</key>
            <string>плодова салата, всякаква комбинация от плодове, колкото искате;</string>
            <key>dinner</key>
            <string>голямо кюфте от говеждо месо;
                домати, маруля целина, маслини, брюкселско зеле, краставица;</string>
            <key>img</key>
            <string>fruit_salad.jpg</string>
        </dict>
        <key>2</key>
        <dict>
            <key>lunch</key>
            <string>салата от риба тон или сьомга (с отцедена мазнина) с лимон или оцет;
                грейпфурт, пъпеш или сезонен плод;
                кафе или чай;</string>
            <key>dinner</key>
            <string>печено агнешко, нарязано от филийки с отстранена тлъстина;
                салата от маруля, домати, краставица, целина</string>
            <key>img</key>
            <string>tuna_salad.jpg</string>
        </dict>
        <key>3</key>
        <dict>
            <key>lunch</key>
            <string>2 яйца приготвени по желание, но без мазнина;
                нискомаслено прясно сирене/извара;
                тиквички или зелен фасул или домати, нарязани и задушени;
                1 филия протеинов или пълнозърнест хляб, препечена;
                чай или кафе;</string>
            <key>dinner</key>
            <string>пилешко, печено на грил, скара или фурна ( с отстранена кожа или мазнина);
                голяма порция спанак, зелени чушки или зелен фасул;</string>
            <key>img</key>
            <string>eggs.jpg</string>
        </dict>
        <key>4</key>
        <dict>
            <key>lunch</key>
            <string>сирене (нискомаслено), различни видове, нарязано на филийки;
                спанак;
                1 филия препечен протеинов или пълнозърнест хляб;</string>
            <key>dinner</key>
            <string>риба или раци, скариди;
                комбинирана салата от всякакви зеленчуци по желание;
                1 филия препечен протеинов или пълнозърнест хляб;</string>
            <key>img</key>
            <string>fish.jpg</string>
        </dict>
        <key>5</key>
        <dict>
            <key>lunch</key>
            <string>плодова салата;
                кафе или чай;</string>
            <key>dinner</key>
            <string>печено пуешко или пилешко;
                салата от домати и маруля;
                грейпфурт или сезонен плод;</string>
            <key>img</key>
            <string>tomatoes_lettuce.jpg</string>
        </dict>
        <key>6</key>
        <dict>
            <key>lunch</key>
            <string>студено или топло пуешко или пилешко месо;
                домати, моркови, варено зеле, броколи или карфиол;
                грейпфурт или сезонен плод;
                кафе или чай;</string>
            <key>dinner</key>
            <string>голяма телешка пържола (с отстранени видими мазнини преди хранене);
                салата от маруля, краставица, целина, домати, брюкселско зеле;</string>
            <key>img</key>
            <string>beef.jpg</string>
        </dict>
    </dict>
</plist>
