<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>lunch</key>
		<string>\t&amp;#8226; selected cold lean meat (optional - chicken, turkey, tongue, lean beef);\n
\t&amp;#8226; tomatoes, sliced​​, baked or steamed;\n
\t&amp;#8226; coffee, tea, soda water;</string>
		<key>dinner</key>
		<string>\t&amp;#8226; fish or crab, shrimp;\n
\t&amp;#8226; combined salad (vegetables of all optional)\n
\t&amp;#8226; 1 slice protein bread, toasted;\n
\t&amp;#8226; grapefruit or fruit in season;</string>
		<key>img</key>
		<string>fish.jpg</string>
	</dict>
	<key>2</key>
	<dict>
		<key>lunch</key>
		<string>\t&amp;#8226; fruit salad, any combination of fruit as much as you want;</string>
		<key>dinner</key>
		<string>\t&amp;#8226; large beef meatball;\n
\t&amp;#8226; tomatoes, lettuce, celery, olives, sprouts, cucumber;</string>
		<key>img</key>
		<string>fruit_salad.jpg</string>
	</dict>
	<key>3</key>
	<dict/>
	<key>lunch</key>
	<string>\t&amp;#8226; tuna salad or salmon (drained of fat) with lemon or vinegar;\n
\t&amp;#8226; grapefruit, melon or seasonal fruit;\n
\t&amp;#8226; coffee or tea;</string>
	<key>dinner</key>
	<string>\t&amp;#8226; roast lamb, cut into slices of fat removed;\n
\t&amp;#8226; salad of lettuce, tomatoes, cucumber, celery</string>
	<key>img</key>
	<string>tuna_salad.jpg</string>
	<key>4</key>
	<dict>
		<key>lunch</key>
		<string>\t&amp;#8226; 2 eggs cooked as desired, with little fat;\n
\t&amp;#8226; low-fat cheese / cottage cheese;\n
\t&amp;#8226; zucchini or green beans or tomatoes, chopped and stewed;\n
\t&amp;#8226; 1 slice protein bread, toasted;\n
\t&amp;#8226; coffee or tea;</string>
		<key>dinner</key>
		<string>\t&amp;#8226; chicken, grilled, grilled or oven (skinned or fat);\n
\t&amp;#8226; large portion of spinach, green peppers or green beans;</string>
		<key>img</key>
		<string>eggs.jpg</string>
	</dict>
	<key>5</key>
	<dict>
		<key>lunch</key>
		<string>\t&amp;#8226; cheese (low fat), different kinds, cut into slices;\n
\t&amp;#8226; spinach;\n
\t&amp;#8226; 1 slice protein bread, toasted;</string>
		<key>dinner</key>
		<string>\t&amp;#8226; fish or crab, shrimp;\n
\t&amp;#8226; any combination salad vegetables as desired;\n
\t&amp;#8226; 1 slice protein bread, toasted;</string>
		<key>img</key>
		<string>fish.jpg</string>
	</dict>
	<key>6</key>
	<dict>
		<key>lunch</key>
		<string>\t&amp;#8226; fruit salad;\n
\t&amp;#8226; coffee or tea;</string>
		<key>dinner</key>
		<string>\t&amp;#8226; roast turkey or chicken;\n
\t&amp;#8226; salad with tomatoes and lettuce;\n
\t&amp;#8226; grapefruit or seasonal fruit;</string>
		<key>img</key>
		<string>tomatoes_lettuce.jpg</string>
	</dict>
	<key>7</key>
	<dict>
		<key>lunch</key>
		<string>\t&amp;#8226; cold or hot turkey or chicken;\n
\t&amp;#8226; tomatoes, carrots, cooked cabbage, broccoli or cauliflower;\n
\t&amp;#8226; grapefruit or seasonal fruit;\n
\t&amp;#8226; coffee or tea;</string>
		<key>dinner</key>
		<string>\t&amp;#8226; great steak (with visible fat removed before eating);\n
\t&amp;#8226; salad of lettuce, cucumber, celery, tomatoes, sprouts;</string>
		<key>img</key>
		<string>beef.jpg</string>
	</dict>
</dict>
</plist>
